.superpowers/
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env

# Release signing
android/keystore.properties
android/app/openarr-release.keystore
*.keystore
!android/app/debug.keystore
